ofsml15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 4 U (http://www.altova.com) -->
<!--Generated by Altova XMLSpy 2005. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://www.temenos.com/T24/OFSML/150" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.temenos.com/T24/OFSML/150" elementFormDefault="qualified" attributeFormDefault="unqualified" version="OFSML-1.5.0-Revision-01" id="OFSML-1.5.0-Revision-01" xml:lang="en">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
			TEMENOS Open Connectivity Framework - OFSML Schema (OFSML 1.5.0 Revision 01).
			Author: Kevin Perera.
			Copyright 2005 Temenos.com. All rights reserved.
			This schema is intended for the technical-level description of the T24 'Open Finanial Services' message-based XML interface (OFSML).
			Through this interface, all core and localised business services provided by T24 may be exercised by external actors (callers).
			The root element of the schema is defined by the 'T24' element.
			Note that wildcard elements exist in the OFSML Schema with processing set to 'lax'; any element used in
			substitution of a wildcard in OFSML should qualify it's namespace and schema location or use fully qualified elements.
			Note: the service request and service response model groups in OFSML 1.5 are backward compatible only with the
			associated model group specifications of OFSML 1.2.  All model groups assocaited with the OFSML 1.1 specification
			are now obsolete.  See the documentation of the individual element definitions for further information.
		</xsd:documentation>
    </xsd:annotation>
    <!-- OFSML ROOT ELEMENT DEFINITION - SERVICE REQUESTS AND RESPONSES -->
    <xsd:element name="T24" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The 'T24' element is the ROOT element of the OFSML Schema.
				The element has optional members: ofsmlHeader, requestProcessing, responseProcessing.  The element has
				mandatory members: one of either serviceRequest (input message) or serviceResponse (output message).
				For all members (and children of members), limited use of nil elements may be used to denote optional elements
				(or that will be defaulted inside the application) to allow explicit use of verbose OFSML instance productions for clarity
				where required.
				All headers are optional.  Specifying a header element (with child elements or 'nil' content) forces the TEMENOS Open Connectivity
				Framework (TOCF) to attempt to construct the headers in full on the response.  The ofsmlHeader element is used by the TOCF to
				provide message identity and to add some extended information such as time stamps.  The requestProcessing element defines
				the handling properties of a request message and the responseProcessing element the handling of the corresponding response.
				These optional elements are followed by either a service request (inbound), corresponding response (outbound), or a serviceSend
				(one-way outbound) where a serviceRequest element is an OFS transaction (application/version), OFS enquiry or an OFS routine
				request, a serviceResponse element is the corresponding response and a serviceSend element is an ofsEvent.  An OFS fault may
				be substituted in the serviceResponse or serviceSend the elements, indicating a failure to process the message.  Note some elements
				of the ofsmlHeader and requestProcessing elements are not intended for direct use by the caller (at sending time), but will be returned
				completed by the system should the caller specify an empty (nil) element tag for either of these elements.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ofsmlHeader" type="ofsml15Header" nillable="true" minOccurs="0"/>
                <xsd:element name="requestProcessing" type="ofsml15RequestProcessing" nillable="true" minOccurs="0"/>
                <xsd:element name="responseProcessing" type="ofsml15ResponseProcessing" nillable="true" minOccurs="0"/>
                <xsd:choice id="serviceCategory">
                    <xsd:element name="serviceRequest" type="ofsml15ServiceRequest"/>
                    <xsd:element name="serviceResponse" type="ofsml15ServiceResponse"/>
                    <xsd:element name="serviceSend" type="ofsml15ServiceSend"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="signature" type="xsd:token"/>
        </xsd:complexType>
    </xsd:element>
    <!-- OFSML ROOT ELEMENT DEFINITION - CUSTOM XML-ROUTINE RESPONSE FRAGMENT -->
    <xsd:element name="T24RoutineResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				This element is for use in custom routines that accept and return XML ONLY. Custom routines that accept and return
				parameters as XML must use this element definition for their response.
				This is intended for routines that generate an XML document fragment.  In the event of an error in processing, a
				routine should return error details using the sequence of 'ofsFault' elements with the error flagged by the status
				attribute on this model group. In an error condition, the ofsFault elements returned from the routine are mapped to the
        main error handling features of OFSML.  In a normal processing condition (no error), the content (note: only the content)
        of the T24RoutineResponse element is returned in the body of the OFSML ofsRoutineResponse element (i.e. without the
        T24RoutineResponse tags).  In an exceptional processing condition (error), the ofsFault tags are mapped to the main OFSML
				response document including (if supplied) the ofsFaultDetails.  If ofsFaultDetails are not supplied, the standard ofsFault details
				(the original request) will be inserted.
				Note that the request and (normal) response document fragment from a routine generating XML is restricted to a single root tag
				for the document fragment.  This root tag, which must not be a definition from the OFSML namespace, should be defined as the
				root tag in the extension Schema.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:choice id="routineBody">
                <xsd:any namespace="##other" processContents="lax"/>
                <xsd:group ref="ofsml15FaultGroup"/>
            </xsd:choice>
            <xsd:attribute name="status" type="ofsml15RoutineStatus" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <!-- OFSML ELEMENT GROUP DEFINITIONS -->
    <xsd:group name="ofsml15TransactionRequestGroup">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Defines the set of OFSML service requests, representing transactions (input, authorise, see, reverse and
				delete operations), enquiries (standard and extended) and routines (standard and XML).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:choice id="transactionRequest">
            <xsd:element name="ofsTransactionInput" type="ofsml15TransactionInputRequest"/>
            <xsd:element name="ofsTransactionAuthorise" type="ofsml15TransactionNonInputRequest"/>
            <xsd:element name="ofsTransactionSee" type="ofsml15TransactionNonInputRequest"/>
            <xsd:element name="ofsTransactionReverse" type="ofsml15TransactionNonInputRequest"/>
            <xsd:element name="ofsTransactionDelete" type="ofsml15TransactionNonInputRequest"/>
            <xsd:element name="ofsTransactionHistoryRestore" type="ofsml15TransactionNonInputRequest"/>
        </xsd:choice>
    </xsd:group>
    <xsd:group name="ofsml15ServiceRequestGroup">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Defines the set of OFSML service requests, representing transactions (input, authorise, see, reverse and
				delete operations), enquiries (standard and extended) and routines (standard and XML).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:choice id="serviceRequest">
            <xsd:group ref="ofsml15TransactionRequestGroup"/>
            <xsd:element name="ofsStandardEnquiry" type="ofsml15EnquiryRequest"/>
            <xsd:element name="ofsExtendedEnquiry" type="ofsml15EnquiryRequest"/>
            <xsd:element name="ofsStandardRoutine" type="ofsml15StandardRoutine"/>
            <xsd:element name="ofsXMLRoutine" type="ofsml15XMLRoutine"/>
        </xsd:choice>
    </xsd:group>
    <xsd:group name="ofsml15FaultGroup">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The set of SOAP-based elements representing a technical error (response).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ofsFaultCode" type="ofsml15FaultCode"/>
            <xsd:element name="ofsFaultMessage" type="ofsml15FaultMessage" nillable="true"/>
            <xsd:element name="ofsFaultContext" type="xsd:anyURI" minOccurs="0"/>
            <xsd:element name="ofsFaultDetails" type="ofsml15FaultDetails" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>
    <!-- OFSML SUPER TYPES DEFINITIONS -->
    <xsd:complexType name="ofsml15Transaction" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Abstract type for all transaction messages.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="application" type="xsd:token" use="required"/>
        <xsd:attribute name="version" type="xsd:token"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionRequest" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Abstract type for all transaction requests.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15Transaction">
                <xsd:sequence>
                    <xsd:element name="transactionId" type="ofsml15NillableToken" nillable="true" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="ofsml15OperationCode" default="PROCESS"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionResponse" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Abstract type for all transaction responses.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15Transaction">
                <xsd:sequence>
                    <xsd:element name="transactionId" type="ofsml15NillableToken" nillable="true"/>
                </xsd:sequence>
                <xsd:attribute name="function" type="ofsml15FunctionCode" use="required"/>
                <xsd:attribute name="operation" type="ofsml15OperationCode" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15EnquiryResponse" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Abstract type for all enquiry responses.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="enquiryHeader" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="enquiryColumn" type="ofsml15EnquiryColumnDefinition" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="status" type="ofsml15EnquiryStatus" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15Routine" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Abstract type for all (custom) routine requests and responses.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:token" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15MVField" final="restriction">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A multi-value field definition.  Note that the multi-value and sub-value attributes are optional; where not present the element may be
				used to represent a normal (non multi-value) field.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:token" use="required"/>
                <xsd:attribute name="mv" type="xsd:positiveInteger"/>
                <xsd:attribute name="sv" type="xsd:positiveInteger"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <!-- OFSML COMPLEX DATATYPE DEFINITIONS -->
    <xsd:complexType name="ofsml15Header" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				OFSML 1.5+ model group.  The corresponding OFSML 1.1 &amp; 1.2 model group definitions are no longer supported.
				The main header of any OFSML instance document, used for all service requests and responses.  Note no grammar rules enforce
				the usage of this header for requests and responses.  Only the FIRST FOUR elements are supported for a request; unrequired information
				supplied on a request (requestTimeStamp, responseTimeStamp, requestChannel, userName, company) will be disposed. On a service
				request, a nil element may be sent denoting a request by the caller to generate all possible header information on the response.
				Optionally, for requests the request id, correlation id, request expiry time and response expiry time may be supplied.  If any
				of these elements are supplied on a request, TOCF will attempt to use their values to override any associated parameters for that
				specific request. On a service response, the header provides values for all elements in the model group where possible. For expiry times,
				where the duration is set to zero or no expiry duration was specified is taken as an instruction to the TOCF to use its configured defaults.
				Generally, this header is generated on request by sending a nil ofsmlHeader element on the request message or is automatically generated in
				the event of a fault response.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="requestId" type="xsd:token" minOccurs="0"/>
            <xsd:element name="correlationId" type="xsd:token" minOccurs="0"/>
            <xsd:element name="requestExpiryTime" type="xsd:duration" minOccurs="0"/>
            <xsd:element name="responseExpiryTime" type="xsd:duration" minOccurs="0"/>
            <xsd:element name="requestTimeStamp" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="responseTimeStamp" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="requestChannel" type="xsd:token" minOccurs="0"/>
            <xsd:element name="userName" type="xsd:token" minOccurs="0"/>
            <xsd:element name="company" type="xsd:token" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="ofsmlRelease" type="xsd:positiveInteger" fixed="1"/>
        <xsd:attribute name="ofsmlMajor" type="xsd:nonNegativeInteger" fixed="5"/>
        <xsd:attribute name="ofsmlMinor" type="xsd:nonNegativeInteger" fixed="0"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15RequestProcessing" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				OFSML 1.5+ model group.  The corresponding OFSML 1.1 &amp; 1.2 model group definitions are no longer supported.
				When present consists of optional members and attributes denoting (technical) request handling directives to the TOCF.
				The messagePort element denotes the target message port in the TAG (note: TAG only). The t24Service element denotes
				the target T24 service instance for processing the message (note: TAG only).  The fireAndForget directive specifies how
				to handle responses (to supply or to dispose of responses). In the event of an error during processing of a request, the
				retryCount attribute is incremented each time the message is seen.  This provides a retry mechanism that extends beyond
				the boundry of the TOCF, up to the maxRetry limit.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice id="routingOptions" minOccurs="0">
                <xsd:element name="messagePort" type="xsd:token"/>
                <xsd:element name="t24Service" type="xsd:token"/>
            </xsd:choice>
            <xsd:element name="signatureHandling" type="ofsml15SignatureDirective" default="NONE" minOccurs="0"/>
            <xsd:element name="fireAndForget" type="ofsml15FireAndForgetDirective" default="NEVER" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="retryCount" type="xsd:positiveInteger"/>
        <xsd:attribute name="maxRetry" type="xsd:positiveInteger" default="5"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ResponseProcessing" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				OFSML 1.2+ model group.  The corresponding OFSML 1.1 model group definition is no longer supported. 
				Where some form of processing is requested on the response (message), the caller may specify such additional processing
				of the message via a W3C compliant XSLT that may be managed locally or deferred.  The type of processing is specified
				via the translatorContext element and the translation XSLT by the responseTranslator element.  Where processing is requested,
				this is performed by the TOCF.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="translatorContext" type="ofsml15TranslatorContext"/>
            <xsd:element name="responseTranslator" type="xsd:anyURI"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ServiceRequest" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A service request consists of a single mandatory member denoting the security context of the caller, followed by one
				of transaction, enquiry or routine request elements.  OFSML 1.1 model groups are NOT permitted.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="securityContext" type="ofsml15SecurityContext" nillable="true"/>
            <xsd:group ref="ofsml15ServiceRequestGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ServiceResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A service response forms the response to a corresponding service request.  For each specific type of request
				made by the caller (defined by the ofsmlServiceRequest model group), there will be a corresponding 'response' in the
				ofsmlServiceResponse.  Any business validation errors that occur during the processing of a request are returned in the
				body of the corresponding response element.  Any request that could not be (or was not) processed due to a technical
				error is returned as an ofsFault.  OFSML 1.1  model groups are NOT permitted.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:choice id="serviceResponse">
            <xsd:element name="ofsTransactionProcessed" type="ofsml15TransactionProcessedResponse"/>
            <xsd:element name="ofsTransactions" type="ofsml15TransactionResponses"/>
            <xsd:element name="ofsTransactionQueued" type="ofsml15TransactionQueuedResponse"/>
            <xsd:element name="ofsTransactionOffline" type="ofsml15TransactionOfflineResponse"/>
            <xsd:element name="ofsTransactionFailed" type="ofsml15TransactionFailedResponse"/>
            <xsd:element name="ofsStandardEnquiry" type="ofsml15StandardEnquiryResponse"/>
            <xsd:element name="ofsExtendedEnquiry" type="ofsml15ExtendedEnquiryResponse"/>
            <xsd:element name="ofsStandardRoutine" type="ofsml15StandardRoutine"/>
            <xsd:element name="ofsXMLRoutine" type="ofsml15XMLRoutine"/>
            <xsd:element name="ofsFault" type="ofsml15Fault"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ServiceSend" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A service send forms an outbound, one-way message from T24.  May be a valid outbound message, or an ofsFault where
				an error occured.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="ofsFault" type="ofsml15Fault"/>
            <xsd:element name="ofsBusinessEvent" type="ofsml15BusinessEvent"/>
            <xsd:element name="ofsReport" type="ofsml15BusinessReport"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ofsml15SecurityContext" mixed="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Consists of either a sign on context (T24 user name and password), a simple nick-name (from a security sub-system) or an external
				definition (reserved for future use).  The contents of the security context may be encrypted by specifying the 'encrypt' attribute
				as 'true'. For more information on encryption capabilities, please check the related Temenos Open Connectivity Framework (TOCF)
				documentation.  Where an external element definition is utilised, a Schema must be supplied and parsing errors will cause an ofsFault.
				An empty element may be utilised as a deferred directive; in this case, credentials should be supplied by a separate stage in
				the message generation and/or submission. Note the target company of the request message may be specified separately from any
				of the options for security credentials.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice id="securityContext" minOccurs="0">
                <xsd:sequence>
                    <xsd:element name="userName" type="ofsml15NillableToken" nillable="true"/>
                    <xsd:element name="password" type="ofsml15NillableToken" nillable="true" minOccurs="0"/>
                </xsd:sequence>
                <xsd:element name="nickName" type="xsd:token"/>
                <xsd:any namespace="##other" processContents="lax"/>
            </xsd:choice>
            <xsd:element name="company" type="ofsml15NillableToken" nillable="true" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="encrypt" type="xsd:boolean" default="false"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15Fault" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				In the event of a technical failure to process a service request, error details are returned (in place of the corresponding transaction,
				enquiry or routine response).  The failure details are structured in a SOAP 'fault' style.  Note that errors due to actual processing errors
				are returned in the	body of an ofsmlServiceResponse, faults are used only to denote failures to process a request (technical failures).
				The recoverable attribute is used as a flag to indicate if the body of the original request (the ofsmlServiceRequest content) is re-submittable
				without amendment.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="ofsml15FaultGroup"/>
        </xsd:sequence>
        <xsd:attribute name="recoverable" type="xsd:boolean" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionInputRequest" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a transaction input service request.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15TransactionRequest">
                <xsd:sequence>
                    <xsd:element name="field" type="ofsml15MVField" nillable="true" maxOccurs="unbounded"/>
                    <xsd:element name="auxField" type="ofsml15MVField" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionNonInputRequest" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a transaction authorise, see, reverse, delete or historyrestore service request.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15TransactionRequest"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionResponses" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a list of processed transaction responses.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ofsTransactionProcessed" type="ofsml15TransactionProcessedResponse" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ofsTransactionFailed" type="ofsml15TransactionFailedResponse" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ofsTransactionQueued" type="ofsml15TransactionQueuedResponse" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ofsTransactionOffline" type="ofsml15TransactionOfflineResponse" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ofsFault" type="ofsml15Fault" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionProcessedResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a processed transaction response, where the overall processing status is indicated
				via the processingStatus attribute.  Note that override conditions may exist on a 'processed' transaction, denoted by
				the existance of override elements in the response.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15TransactionResponse">
                <xsd:sequence>
                    <xsd:element name="field" type="ofsml15MVField" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="override" type="ofsml15OverrideField" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="auxField" type="ofsml15MVField" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="auxOverride" type="ofsml15OverrideField" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="processingStatus" type="ofsml15ProcessingStatus" use="required"/>
                <xsd:attribute name="auxProcessingStatus" type="ofsml15ProcessingStatus"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionOfflineResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes an off-line transaction response (rejected due to T24 running the close of business
				cycle - this option is configurable in T24).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15TransactionResponse">
                <xsd:sequence>
                    <xsd:element name="field" type="ofsml15MVField" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionQueuedResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes an off-line queued transaction response (accepted for processing at the start of the next
				business cycle).  An off-line reference is returned.  Where a transaction id was specified, this is returned also
				(otherwise a nil transactionId element is returned).  This option is configurable in T24.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15TransactionResponse">
                <xsd:sequence>
                    <xsd:element name="offlineReference" type="xsd:token"/>
                    <xsd:element name="field" type="ofsml15MVField" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15TransactionFailedResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a failure to process the transaction due to a business validation failure.  The original
				transaction request is returned, along with the fields in error.  If the GTS Control is configured (in T24) to
				accept failed transactions to the 'hold' work queue, the held attribute is set to true and the associated transaction
				ID reserved by T24 is returned in the optional transactionId element.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15TransactionResponse">
                <xsd:sequence>
                    <xsd:element name="errorDescription" type="xsd:string" nillable="true" minOccurs="0"/>
                    <xsd:element name="error" type="ofsml15ErrorField" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:group ref="ofsml15TransactionRequestGroup"/>
                </xsd:sequence>
                <xsd:attribute name="held" type="xsd:boolean" default="false"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15EnquiryRequest" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a standard (normalised) enquiry service request.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="selectionCriteria" type="ofsml15SelectionCriteria" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:token" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15StandardEnquiryResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a standard (normalised) enquiry service response.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15EnquiryResponse">
                <xsd:sequence>
                    <xsd:element name="enquiryRecord" type="ofsml15StandardEnquiryRecord" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ExtendedEnquiryResponse" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a de-normalised (extended) enquiry service request.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15EnquiryResponse">
                <xsd:sequence>
                    <xsd:element name="enquiryRecord" type="ofsml15ExtendedEnquiryRecord" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15StandardRoutine" final="#all" mixed="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				An OFSML (standard) routine request or response, based on a custom routine in the T24 environment where the routine is producing
				string-based output.  The type (T24 name) of the routine is denoted by the attributes.  No validation of the input or output is performed,
				but forbidden characters are replaced on the output with XML-compliant escape sequences.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="true">
            <xsd:extension base="ofsml15Routine"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15XMLRoutine" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes an XML custom routine service request or response, based on a custom routine in the T24 environment where the routine is directly
				accepting XML as input and producing an XML output compliant with the T24RoutineResponse element definition.
				The type (T24 name) of the routine is denoted by the attributes.  Where an external element definition is utilised, XML parsing errors
				will cause an ofsFault element to be returned (XML validation processing is set to strict; a content model must be supplied).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofsml15Routine">
                <xsd:sequence>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15BusinessEvent" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a business message, generated from T24 as a result of an update within T24.  The source (originator) and type of the event are
				indicated by the associated attributes.  A business event is a generic representation of the state and content of any transaction.  Note, at present
				this definition is provided as guidance for localisations only.  The TOCF does not provide this feature without customisation in the R4 or R5 releases.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="eventPublished" type="xsd:dateTime"/>
            <xsd:element name="eventTransmitted" type="xsd:dateTime"/>
            <xsd:element name="eventExpiry" type="xsd:duration" minOccurs="0"/>
            <xsd:element name="eventId" type="xsd:token"/>
            <xsd:element name="status" type="ofsml15ProcessingStatus" minOccurs="0"/>
            <xsd:element name="publishingUser" type="xsd:token" minOccurs="0"/>
            <xsd:element name="transactionId" type="xsd:token" minOccurs="0"/>
            <xsd:element name="field" type="ofsml15MVField" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="override" type="ofsml15OverrideField" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="auxField" type="ofsml15MVField" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="auxOverride" type="ofsml15OverrideField" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="source" type="xsd:token" use="required"/>
        <xsd:attribute name="type" type="xsd:token" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15BusinessReport" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Denotes a multiple data set business report, generated from T24.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="reportDestination" type="xsd:token" minOccurs="0"/>
            <xsd:element name="errorDestination" type="xsd:token" minOccurs="0"/>
            <xsd:element name="dataSet" type="ofsml15DataSet" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="docType" type="xsd:token" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15DataSet" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Defines a single named data set.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice id="dataSetDefinition" maxOccurs="unbounded">
                <xsd:element name="fieldDefinition" type="ofsml15DataSetFieldDefinition"/>
                <xsd:element name="groupDefinition" type="ofsml15DataSetGroupDefinition"/>
            </xsd:choice>
            <xsd:element name="record" type="ofsml15DataSetRecord" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:token" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15DataSetFieldDefinition" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A single repeatable field definition in a data set.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:token">
                <xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
                <xsd:attribute name="id" type="xsd:token" use="required"/>
                <xsd:attribute name="label" type="xsd:token" use="required"/>
                <xsd:attribute name="type" type="t24DataType" use="required"/>
                <xsd:attribute name="length" type="xsd:positiveInteger" use="required"/>
                <xsd:attribute name="repeatable" type="xsd:boolean" use="required"/>
                <xsd:attribute name="justification" type="xsd:token"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15DataSetGroupDefinition" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A repeating group definition in a data set.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="memberDefinition" type="ofsml15DataSetFieldDefinition" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
        <xsd:attribute name="noOfMembers" type="xsd:positiveInteger" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15DataSetRecord" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A single record in a report from T24.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:choice id="recordData" maxOccurs="unbounded">
            <xsd:element name="field" type="ofsml15IndexRefValue"/>
            <xsd:element name="group" type="ofsml15IndexRefGroup"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ofsml15IndexRefValue">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A value of a member, field or column in an OFSML instance document.  The index attribute is used to denote the associated T24
				identifier (field or member in a report).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="index" type="xsd:token" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15IndexRefGroup">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A group of a members, fields or columns in an OFSML instance document.  The id attribute is used to denote the associated T24
				group identifier.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="member" type="ofsml15IndexRefValue"/>
        </xsd:sequence>
        <xsd:attribute name="index" type="xsd:token" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ErrorField" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				An error condition from T24, identifying a field in error, the error condition and containing an optional error code.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ofsml15MVField">
                <xsd:attribute name="code" type="xsd:token"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15OverrideField" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				An override condition from T24, identifying the override condition and containing an optional override code.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:token"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15SelectionCriteria" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A selection criteria provided by the caller when requesting information from T24 via an enquiry.  Uses a
				Reverse-Polish style argument order.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fieldName" type="xsd:token"/>
            <xsd:element name="value" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="operand" type="ofsml15SelectionOperand" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ofsml15EnquiryColumnDefinition" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				An enquiry column definition provided in an enquiry response.  Note the default for the t24Type attribute
				(the type of the column, as returned from T24) is an implicit T24 string.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:token">
                <xsd:attribute name="id" type="xsd:token" use="required"/>
                <xsd:attribute name="label" type="xsd:token" use="required"/>
                <xsd:attribute name="type" type="t24DataType"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15StandardEnquiryRecord" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A single record returned by a standard enquiry response from T24.  Consists of a set of values that relate directly
				(correlated by the position index in a standard response) to the order of the enquiry column definitions of the related
				T24 enquiry.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="column" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsml15ExtendedEnquiryRecord" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A single record returned by an extended enquiry response from T24.  Consists of a set of values that relate directly
				(correlated by the id attribute) to the the enquiry column definitions of the related T24 enquiry.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="column" type="ofsml15IdRefValue" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsml15IdRefValue">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				A value of a column in an OFSML instance document.  The id attribute is used to denote the associated T24
				identifier (column in an enquiry response).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:token" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15FaultMessage" final="#all" mixed="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Where a (technical) failure to process a request has occurred, the fault message may be returned to help determine the cause.
				Note that the fault message may contain both a text error message, plus an optional (tagged) T24 error code (for extensibility).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="t24ErrorCode" type="ofsml15NillableToken" nillable="true" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsml15FaultDetails" final="#all">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Where a technical failure to process a request has occurred, the fault details may be returned to help determine the cause
				of the error.  The default is to return the original service request, but custom routines may return their own fault details
				where required via the T24RoutineResponse wrapper element.   Where an external element definition is utilised,
				parsing errors will cause a default ofsFault (XML parsing fault).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="duplicateReference" type="ofsml15FaultDuplicateReference" nillable="true" minOccurs="0"/>
            <xsd:choice id="faultDetails">
                <xsd:group ref="ofsml15ServiceRequestGroup"/>
                <xsd:any namespace="##other" processContents="lax"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsml15FaultDuplicateReference" final="#all" mixed="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Used to denote the reference of a previously processed transaction (held in the target T24 database) where the unique message reference (UMR)
				matches the UMR on the current message (a fault condition).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="true">
            <xsd:extension base="ofsml15Transaction"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ofsml15NillableToken">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Used to represents nillable token types, for code generation purposes only.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:token"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <!-- OFSML SIMPLE DATATYPE DEFINITIONS -->
    <xsd:simpleType name="ofsml15SignatureDirective">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Directive to control the presence of a digital signature on an OFSML document instance.
				NONE: no signature.
				BOTH: attempt to sign both the request and any associated response documents.
				REQUEST: attempt to sign the request document only.
				RESPONSE: attempt to sign the response document only.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="BOTH"/>
            <xsd:enumeration value="REQUEST"/>
            <xsd:enumeration value="RESPONSE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15FireAndForgetDirective">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				Directive to instruct the TOCF how to manage the request/response semantics.
				NEVER: never use fire and forget mode (dispose of all responses).
				ALWAYS: always use fire and forget mode (do not dispose of reponses).
				ON-FAIL: use fire and forget only for processing failures (dispose failed responses).
				ON-SUCCESS: use fire and forget only for successfully processed messages (dispose successful responses).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="NEVER"/>
            <xsd:enumeration value="ALWAYS"/>
            <xsd:enumeration value="ON-FAILURE"/>
            <xsd:enumeration value="ON-SUCCESS"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15TranslatorContext">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The context of the response translation request, which may be 'local processing' (performed by the TOCF)
				or 'deferred' to another service (typically the caller).  Local HTML rendering of XML documents may be requested also, for
				improved message readability via display in standard Web Browser applications.
				LOCAL: Apply the transform specified to the OFSML output and return the tranformed document.
				DEFERRED: This is intended for audit purposes only, to allow a caller to inform all actors that the response message will be transformed.
				HTML-RENDER: Apply the stylesheet (URI) reference to the OFSML response message.  This is for easier viewing of messages
				from browsers that support W3C compliant stylesheet processing.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="LOCAL"/>
            <xsd:enumeration value="DEFERRED"/>
            <xsd:enumeration value="HTML-RENDER"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15FaultCode">
        <xsd:annotation>
            <xsd:documentation>
				In the event of a (technical) failure to process a request (i.e. the request could not be handled), the error condition may be signalled
                via one of the fault codes.  The 'recoverable' attribute denotes if the request may be retried without repair by the caller.
				Note that in the event of a response (a processed message) reaching it's expiry time, any subsequent compensating action is the
                responsibility of the caller.
				DUPLICATE-MESSAGE: The UMR (correlation id) specified has been used on a previous message (recoverable = "true").
				EVENT-SOURCE-INVALID: The event source requested is not defined in the system (recoverable = "false").
				EVENT-TYPE-INVALID: The event type requested is not defined in the system (recoverable = "false").
				T24-UNAVAILABLE: Sessions to T24 are unavailable or disabled (recoverable = true).
				INVALID-RECORD: The requested record does not exist in the T24 database (recoverable = false).
				MAX-EXTERNAL-RETRY: The maximum retry attempts was reached, as defined in the OFSML instance document (recoverable = true).
				RECORD-LOCKED: The target record (in T24) was locked (recoverable = true).
				REQUEST-EXPIRED: The request expiry time was reached before it was submitted for processing (recoverable = true).
				REQUEST-INVALID: The request (type) was recognised by T24 but not well-formed e.g. incorrect field names (recoverable = false).
				REQUEST-TIMEOUT: The request time-out period was reached during processing (recoverable = true).
				SECURITY-VIOLATION: T24 reported the specified userid is not recognised or is not permitted to execute the requested service (recoverable = true).
				UNDEFINED-FATAL-ERROR: An unknown error occurred (recoverable = false).
				UNRECOGNISED-REQUEST: The request (type) was not recognised by T24 e.g. incorrect application name (recoverable = false).
				VOID-RESPONSE: T24 returned a void response - typically implies the request was not processed due to technical errors, for example in the
				UniVerse API (recoverable = true).
				XML-PARSING-ERROR: Where an error occurred parsing an OFSML message (not a valid XML document) - typically, this only occurs
				where custom routines return XML document fragments using the 'wildcard' substitution or where a native asynchronous message bus
                communications channel is being utilised (recoverable = false).
				XML-VALIDATION-ERROR: Where an XML document validation error occurred parsing an OFSML message (valid XML but invalid
				schema instance) - typically, this only occurs when custom routines return XML document fragments using the 'wildcard' substitution
				and provide an external schema to validate their document fragments,  or where a native asynchronous message bus
                communications channel is being utilised (recoverable = false).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="DUPLICATE-MESSAGE"/>
            <xsd:enumeration value="EVENT-SOURCE-INVALID"/>
            <xsd:enumeration value="EVENT-TYPE-INVALID"/>
            <xsd:enumeration value="T24-UNAVAILABLE"/>
            <xsd:enumeration value="INVALID-RECORD"/>
            <xsd:enumeration value="MAX-EXTERNAL-RETRY"/>
            <xsd:enumeration value="RECORD-LOCKED"/>
            <xsd:enumeration value="REQUEST-EXPIRED"/>
            <xsd:enumeration value="REQUEST-INVALID"/>
            <xsd:enumeration value="REQUEST-TIMEOUT"/>
            <xsd:enumeration value="SECURITY-VIOLATION"/>
            <xsd:enumeration value="UNDEFINED-FATAL-ERROR"/>
            <xsd:enumeration value="UNRECOGNISED-REQUEST"/>
            <xsd:enumeration value="VOID-RESPONSE"/>
            <xsd:enumeration value="XML-PARSING-ERROR"/>
            <xsd:enumeration value="XML-VALIDATION-ERROR"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15OperationCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The T24 directive for handling any transaction processing request.
				PROCESS: Directs T24 to fully processes the message and commit any updates to the database.
				VALIDATE: Directs T24 to simulate the full processing of the message to include all validation but not commit any
				updates to the database.  This returns all default values (only for fields where default values are present).
				BUILD: Directs T24 to attempt to build a transaction.  Field values are defaulted where available and field values supplied
				are used in building the transaction data.  Returns a status to indicate the validity of the built transaction.  Note that BUILD is
				valid only for transaction input requests.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="PROCESS"/>
            <xsd:enumeration value="VALIDATE"/>
            <xsd:enumeration value="BUILD"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15FunctionCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The standard function code of any transaction procesing request to T24.  Function codes
				are: 'INPUT' - input/insert the transaction; 'SEE' - see (show) the transaction (requires a transactionId); 'AUTHORISE' - authorise
				the transaction;  'REVERSE' - reverse (unwind) the transaction; 'DELETE' - delete the transaction.
        'HISTORY RESTORE' - Restores the  latest reversed record in the history list. Functions only on the record not in 'live' status.
        
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="INPUT"/>
            <xsd:enumeration value="SEE"/>
            <xsd:enumeration value="AUTHORISE"/>
            <xsd:enumeration value="REVERSE"/>
            <xsd:enumeration value="DELETE"/>
            <xsd:enumeration value="HISTORYRESTORE"/>
            
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15ProcessingStatus">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
			 	OFSML 1.5 model group (adopted from OFSML 1.1).  The status of the transaction (the data record), returned from T24.
				This status will indicate the state of the business transaction post any processing completed while executing
				the request.  It represents a summary code, which is further detailed in the record.status field of the transaction.
				Note that QUEUED and NOT-QUEUED can only be returned when T24 is off-line (running the
				end of day processing).
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="OK"/>
            <xsd:enumeration value="NOT-AUTHORISED"/>
            <xsd:enumeration value="ON-HOLD"/>
            <xsd:enumeration value="MATURED"/>
            <xsd:enumeration value="PARTIAL-INPUT"/>
            <xsd:enumeration value="QUEUED"/>
            <xsd:enumeration value="NOT-QUEUED"/>
            <xsd:enumeration value="REVERSED"/>
            <xsd:enumeration value="DELETED"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15EnquiryStatus">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The return status from executing an enquiry.
                OK: The enquiry request resulted in a data set.
                NO-RECORDS: The enquiry request resulted in a null data set.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="OK"/>
            <xsd:enumeration value="NO-RECORDS"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15RoutineStatus">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The return status from executing a (custom) routine where the routine returns the XML document fragment
				defined by complex type T24RoutineResponse.
                OK: The routine reported it executed correctly - the response content will be mapped to the routineResponse element.
                FAILED: The routine reported an execution failure - the response content will be mapped to an ofsFault element.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="OK"/>
            <xsd:enumeration value="FAILED"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ofsml15SelectionOperand">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The standard operands used in a selection criteria when requesting grid-based (enquiry) information from T24.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="EQ"/>
            <xsd:enumeration value="NE"/>
            <xsd:enumeration value="GE"/>
            <xsd:enumeration value="GT"/>
            <xsd:enumeration value="LE"/>
            <xsd:enumeration value="LT"/>
            <xsd:enumeration value="UL"/>
            <xsd:enumeration value="LK"/>
            <xsd:enumeration value="NR"/>
            <xsd:enumeration value="RG"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="t24DataType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
				The T24 datatype for a field.  If not specified, the default type (in T24) is 'ALPHANUMERIC'.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ALPHANUMERIC"/>
            <xsd:enumeration value="NUMERIC"/>
            <xsd:enumeration value="AMOUNT"/>
            <xsd:enumeration value="DATE"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>